<h2>Post detail</h2>
<br />
<p>
	<%= @row['content'] %>
	<br />
	<br />
	<%= @row['writername'] + ': ' + @row['created_date'] %>
</p>
<br />

<% @comments.each do |comment| %>
	<p>
		<%= comment['content'] %>
		<br />
		<%= comment['created_date'] %>
		<br />
	</p>
	<hr />
<% end %>

<h4>Comments</h4>
<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
		<textarea name="content" class="form-control" rows="6" placeholder="write here comment"></textarea>
		<br />
	  <button type="submit" class="btn btn-info">Add comment</button>
	</form>	
</p>